  <% if object.errors.any? %>
    <section>
      <h2> This course could not be saved </h2>
      <h3> 
        Please, correct the following 
        <%= pluralize( object.errors.size, "error" ) %>:
      </h3>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </section>
  <% end %>