<h1>Enrollments</h1>

<ul>
  <% @enrollments.each do |e|%>
    <li><strong>Pass score: </strong><%= e.pass_score%></li>
    <li><strong>Progress: </strong><%= e.progress%></li>
    <li><strong>Score: </strong><%= e.score%></li>
  <% end %>
</ul>