<%= form_with(model: course) do |f| %>

  <%= render "shared/errors", object: course %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div>
    <%= f.label :code %>
    <%= f.number_field :code %>
  </div>

  <div>
  <%= f.submit %>
  </div>

<% end %>