<h1>Index courses view</h1>

  <% @courses.each do |course| %>
  <section>
    <div>
      <h2><%= link_to course.title, course  %></h2>
      <h3> Code: <%= course.code %> </h3>
    </div>
  </section>
  <% end %>

  <section>
    <%= link_to "Add new course", new_course_path %>
  </section>
