<h1>This course</h1>

<section>
  <h2><%= @course.title %></h2> <%= @course.code %>
</section>

<section>
  <div>
    <p><%= link_to "Who is enroll", course_enrollments_path(@course) %></p>
  </div>
</section>

<section>
  <%= link_to "Edit", edit_course_path  %>
  <%= link_to "Delete", @course, 
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</section>
